L'outil "{{ name }}" est actuellement en rupture de stock.
Veuillez vous rendre à cette <a href="http://127.0.0.1:8000/soldout">adresse</a> pour renouveler son stock

Cordialement,
L'équipe de votre gestion d'inventaire