#home_body{
	background-image: url('../images/outils.jpg');	
	background-color:rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-size: cover;
}
#listing_body{
	background-image: url('../images/wood.jpg');	
	background-color:rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	height: 20vh;
}
section{
	height:80vh;
}
#principalTitle{
	font-size:42px;
	-webkit-text-stroke: 0.05em;
	-webkit-text-stroke-color: black;
	display: none;
	background-image: linear-gradient(to  right, rgba(0,0,0,0), rgba(0,0,0,0.5),  rgba(0,0,0,0.5), rgba(0,0,0,0));
}
#bouton{
	display: none;
	margin-top:60vh;
}
.firstBorderButton{
	background-color:#6c1e0e;
	height:70px;
}
.secondBorderButton{
	height:62px;
	background-color: white;
}
.secondBorderButton:hover{
	background-color: #e7e7e7;
}
.listAccess{
	font-size:26px;
}
table{
	overflow: scroll;
}
.biggerNavLing{
	font-size:16px;
	font-weight:bold;
}