{% extends 'base.html.twig' %}
{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock custom_style %}
{% block body %}
<body id="listing_body">
	<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
		<a class="navbar-brand" href="/">Accueil</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
				{# Recherche de l'url courant pour une meilleure visibilité dans l'application: affichage en gras et texte en noir #}
				<li class="nav-item">
					{# Pour la liste des outils #}
					{% if app.request.pathinfo == "/listing" %}
						<a class="nav-link biggerNavLing text-dark" href="/listing">Ma liste</a>
					{% else %}
						<a class="nav-link text-secondary" href="/listing">Ma liste</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{# Pour la liste des outils #}
					{% if app.request.pathinfo == "/soldout" %}
						<a class="nav-link biggerNavLing text-dark" href="/soldout">Rupture de stock</a>
					{% else %}
						<a class="nav-link text-secondary" href="/soldout">Rupture de stock</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{# Pour l'ajout d'un nouvel outil #}
					{% if app.request.pathinfo == "/new" %}
						<a class="nav-link biggerNavLing text-dark" href="/new">Nouvel outil</a>
					{% else %}
						<a class="nav-link text-secondary" href="/new">Nouvel outil</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</nav>
        {% for success in app.flashes('success') %}
            <div class="flash-notice flash" id="flashSuccess">
                <p class="offset-4 col-4 bg-success text-center text-white p-2 flash">{{ success }}</p>
            </div>
        {% endfor %}
        {% for error in app.flashes('error') %}
            <div class="flash-notice flash" id="flashError">
                <p class="offset-4 col-4 bg-danger text-center text-white p-2 flash">{{ error }}</p>
            </div>
        {% endfor %}
        {% for warning in app.flashes('warning') %}
            <div class="flash-notice flash">
                <p class="offset-4 col-4 bg-danger text-center text-white p-2 flash">{{ warning }}</p>
            </div>
        {% endfor %}
    {% block section %}{% endblock section %}
    {% block custom_scripts %}{% endblock custom_scripts %}
</body>
{% endblock body %}